In [3]:
import pandas as pd
import numpy as np
df=pd.read_csv("5000 Sales Records.csv")
df

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544,1/11/2014,552,255.28,159.42,140914.56,87999.84,52914.72
1,Central America and the Caribbean,Panama,Snacks,Offline,C,7/5/2010,301644504,7/26/2010,2167,152.58,97.44,330640.86,211152.48,119488.38
2,Europe,Czech Republic,Beverages,Offline,C,9/12/2011,478051030,9/29/2011,4778,47.45,31.79,226716.10,151892.62,74823.48
3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952,6/15/2010,9016,205.70,117.11,1854591.20,1055863.76,798727.44
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596,7/27/2015,7542,152.58,97.44,1150758.36,734892.48,415865.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,Australia and Oceania,New Zealand,Household,Offline,C,4/3/2015,217984473,4/20/2015,5305,668.27,502.54,3545172.35,2665974.70,879197.65
4996,Middle East and North Africa,Azerbaijan,Clothes,Offline,L,8/17/2014,169748055,10/2/2014,1077,109.28,35.84,117694.56,38599.68,79094.88
4997,Asia,Myanmar,Baby Food,Offline,H,11/23/2016,226939189,12/10/2016,5204,255.28,159.42,1328477.12,829621.68,498855.44
4998,Europe,Finland,Clothes,Online,L,4/22/2014,906794202,5/11/2014,9410,109.28,35.84,1028324.80,337254.40,691070.40
4999,Sub-Saharan Africa,Tanzania,Vegetables,Online,L,7/8/2011,996861922,8/7/2011,2450,154.06,90.93,377447.00,222778.50,154668.50

In [4]:
#DATA CLENING
df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544,1/11/2014,552,255.28,159.42,140914.56,87999.84,52914.72
1,Central America and the Caribbean,Panama,Snacks,Offline,C,7/5/2010,301644504,7/26/2010,2167,152.58,97.44,330640.86,211152.48,119488.38
2,Europe,Czech Republic,Beverages,Offline,C,9/12/2011,478051030,9/29/2011,4778,47.45,31.79,226716.10,151892.62,74823.48
3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952,6/15/2010,9016,205.70,117.11,1854591.20,1055863.76,798727.44
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596,7/27/2015,7542,152.58,97.44,1150758.36,734892.48,415865.88

In [5]:
df.shape

(5000, 14)

In [6]:
df.isnull()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4996,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4997,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4998,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4999,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [7]:
df.isnull().sum()

Region            0
Country           0
Item Type         0
Sales Channel     0
Order Priority    0
Order Date        0
Order ID          0
Ship Date         0
Units Sold        0
Unit Price        0
Unit Cost         0
Total Revenue     0
Total Cost        0
Total Profit      0
dtype: int64

In [8]:
df.isnull().any()

Region            False
Country           False
Item Type         False
Sales Channel     False
Order Priority    False
Order Date        False
Order ID          False
Ship Date         False
Units Sold        False
Unit Price        False
Unit Cost         False
Total Revenue     False
Total Cost        False
Total Profit      False
dtype: bool

In [9]:
df.describe()

,Order ID,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
count,5.000000e+03,5000.000000,5000.000000,5000.000000,5.000000e+03,5.000000e+03,5.000000e+03
mean,5.486447e+08,5030.698200,265.745564,187.494144,1.325738e+06,9.330932e+05,3.926446e+05
std,2.594671e+08,2914.515427,218.716695,176.416280,1.475375e+06,1.150873e+06,3.829351e+05
min,1.000909e+08,2.000000,9.330000,6.920000,6.531000e+01,4.844000e+01,1.687000e+01
25%,3.201042e+08,2453.000000,81.730000,35.840000,2.574168e+05,1.547480e+05,8.533925e+04
50%,5.523150e+08,5123.000000,154.060000,97.440000,7.794095e+05,4.681807e+05,2.790952e+05
75%,7.687709e+08,7576.250000,437.200000,263.330000,1.839975e+06,1.189578e+06,5.651064e+05
max,9.998797e+08,9999.000000,668.270000,524.960000,6.672676e+06,5.248025e+06,1.726007e+06

In [10]:
df.nunique()

Region               7
Country            185
Item Type           12
Sales Channel        2
Order Priority       4
Order Date        2305
Order ID          5000
Ship Date         2320
Units Sold        3944
Unit Price          12
Unit Cost           12
Total Revenue     4909
Total Cost        4908
Total Profit      4909
dtype: int64

In [11]:
df.dtypes

Region             object
Country            object
Item Type          object
Sales Channel      object
Order Priority     object
Order Date         object
Order ID            int64
Ship Date          object
Units Sold          int64
Unit Price        float64
Unit Cost         float64
Total Revenue     float64
Total Cost        float64
Total Profit      float64
dtype: object

In [12]:
df.columns

Index(['Region', 'Country', 'Item Type', 'Sales Channel', 'Order Priority',
       'Order Date', 'Order ID', 'Ship Date', 'Units Sold', 'Unit Price',
       'Unit Cost', 'Total Revenue', 'Total Cost', 'Total Profit'],
      dtype='object')

In [27]:
df.columns = df.columns.str.replace(' ', '_')

In [31]:
df.columns

Index(['Region', 'Country', 'Item_Type', 'Sales_Channel', 'Order_Priority',
       'Order_Date', 'Order_ID', 'Ship_Date', 'Units_Sold', 'Unit_Price',
       'Unit_Cost', 'Total_Revenue', 'Total_Cost', 'Total_Profit'],
      dtype='object')

In [33]:
x=df[['Unit_Price','Unit_Cost','Units_Sold']]
x

      Unit_Price  Unit_Cost  Units_Sold
0         255.28     159.42         552
1         152.58      97.44        2167
2          47.45      31.79        4778
3         205.70     117.11        9016
4         152.58      97.44        7542
...          ...        ...         ...
4995      668.27     502.54        5305
4996      109.28      35.84        1077
4997      255.28     159.42        5204
4998      109.28      35.84        9410
4999      154.06      90.93        2450

[5000 rows x 3 columns]

In [35]:
y=df[['Total_Profit']]
y

      Total_Profit
0         52914.72
1        119488.38
2         74823.48
3        798727.44
4        415865.88
...            ...
4995     879197.65
4996      79094.88
4997     498855.44
4998     691070.40
4999     154668.50

[5000 rows x 1 columns]

In [36]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=1,random_state=50)
print(x_train,x_test,y_train,y_test)

      Unit_Price  Unit_Cost  Units_Sold
2042      255.28     159.42        8801
79        668.27     502.54          72
4663       81.73      56.67        5090
3640      255.28     159.42        9910
65        255.28     159.42        9738
...          ...        ...         ...
3330      255.28     159.42        7890
70        109.28      35.84        3730
132        47.45      31.79        1415
2014      205.70     117.11        7920
1931      205.70     117.11        2289

[4999 rows x 3 columns]       Unit_Price  Unit_Cost  Units_Sold
3431       205.7     117.11        7515       Total_Profit
2042     843663.86
79        11932.56
4663     127555.40
3640     949972.60
65       933484.68
...            ...
3330     756335.40
70       273931.20
132       22158.90
2014     701632.80
1931     202782.51

[4999 rows x 1 columns]       Total_Profit
3431     665753.85

In [37]:
from sklearn.preprocessing import StandardScaler
scaled=StandardScaler()
x_scaled=scaled.fit_transform(x)

In [38]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(4999, 3)
(1, 3)
(4999, 1)
(1, 1)

In [39]:
#linear regression
from sklearn.linear_model import LinearRegression

In [40]:
#linear regression
model=LinearRegression()
model.fit(x_train,y_train)
model

LinearRegression()

In [41]:
ypred=model.predict(x_test)
ypred

array([[637864.69289384]])

In [42]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [43]:
mse=mean_squared_error(y_test,ypred)
print(mse)

777805084.0921177

In [44]:
mae=mean_absolute_error(y_test,ypred)
print(mae)

27889.15710616077

In [45]:
r2score=r2_score(y_test,ypred)
print(r2score)

nan

C:\Users\sivas\AppData\Roaming\Python\Python313\site-packages\sklearn\metrics\_regression.py:1283: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)

In [47]:
# New sales input: unit sold,unit price,unit cost
ne = np.array([[7542,152.58,97.44]])

# Predict
ps = model.predict(ne)

# Print properly
print(f"Predicted Total_profit: {ps[0].item():.2f}")

Predicted Total_profit: 36939785.07

C:\Users\sivas\AppData\Roaming\Python\Python313\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(